<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10114 - Loansome Car Buyer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>10300 - Ecological Premium.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>10550 - Combination Lock.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>10963 - The Swallowing Ground.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>11044 - Searching for Nessy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>11172 - Relational Operator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>1124 - Celebrity jeopardy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>11332 - Summing Digits.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>11364 - Parking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>11498 - Division of Nlogonia.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>11547 - Automatic Answer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>11559 - Event Planning.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>11679 - Sub-prime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>11727 - Cost Cutting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>11764 - Jumping Mario.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>11799 - Horror Dash.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>11942 - Lumberjack Sequencing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>12015 - Google is Feeling Lucky.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>12157 - Tariff Plan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>12250 - Language Detection.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>12279 - Emoogle Balance.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>12289 - One-Two-Three.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>12372 - Packing for Holiday.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>12403 - Save Setu.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>12468 - Zapping.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>12503 - Robot Instructions.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>12577 - Hajj-e-Akbar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>272 - TEX Quotes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>621 - Secret Research.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>IORoutine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UVa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E7DBF492519A80500DFD790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7DBF8A251B638000DFD790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E90FA3A2513AC90005C5E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E9C1C882543D27700A29AAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EAC6704250E283000936CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EAC6710250E28FD00936CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EAC671C250E299F00936CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EAC672B250E8A1200936CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EAC67372510F54E00936CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EAC6743251103CD00936CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EAC674F2513A3F900936CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECD15EA2520C9CF0012276C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECD162F2520D8BA0012276C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECD16772521BFB30012276C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECD16C22522633C0012276C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECD1710252792AC0012276C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECD176125280AD50012276C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECD17B525285FD40012276C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECD180C2528B8CE0012276C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECD1866252965180012276C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECD18C32532155E0012276C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ECD1907253288CF0012276C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEA8FE62514693600922DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEA900D2514BAB500922DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEA90372514C23400922DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEA90642515D1EB00922DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEA90942516688000922DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEA90C7251670F000922DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEA90FD2516FE7500922DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEA9136251701B800922DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EEA91722517079500922DD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
